* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* top banner with title and links inside. */
#header {
    background-size: cover;
    background-color: #07161B;
    color: whitesmoke;
    padding: 1em 1em 1em 0; /* added this to made the purple background around my name touch against the left edge of webpage */
    font-size: 24px;
    font-style: italic;
}

#header h1 {
    display: inline-block;  /* Made the purple background fit the text "Tifannie G Truman" */
    background-color: #433e49;
    padding: .25em .25em .25em 2em;
}
/* styles the boxes containing the links inside the header at the top of the page. */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
}
/* link text styling for nav links in the header */
.navbar a {
    color: whitesmoke;
    font-size: 18px;
    width: 125px;
    display: block;
    text-align: center;
}
/* nav links in header have a text cackground color when hovering over them */
.navbar a:hover {
    background: #433e49;
}
/* nav links in header change color once visited */
.navbar a:visited {
    color: rgb(221, 162, 24);
}
    /*this is the banner image directly under the header section */
.top-banner {
    position: relative;
    height: 200px;
    width: auto;
    margin-bottom: 25px;
    background: url("./images/banner-code.jpg");
    background-size: cover;
}
/* the font inside of the top banner image, underneath the header links */
.subtitle {
    position: relative; /* makes text appear on top of the background image */
    display: block;
    text-align: right;
    padding: 140px 30px 0 0;
    color: whitesmoke;
    font-style: bold;
    font-size: 24px;
}

/* attempting to have the h2 and the p tag/img tag elements side by side */

#container {
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: space-between;
    color: #2e2f2f;
}

/* this class effects the h2s in the container div */
.left-column {
    float: left;
    width: 10%;
    height: auto;
    text-align: right;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
/* this class effects the p tags in the container div */
.right-column {
    background-color: whitesmoke;
    float: right;
    justify-content: center;
    width: 85%;
    font-size: 19px;
    line-height: 1.8;
    margin: 5px;
    padding: 10px;
    border-left:rgb(221, 162, 24) solid;
}

 /* contains the images in the projects section of the body */
.images {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 5px;
}

.images img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0.8;
    border: 5px dashed rgb(221, 162, 24);
    width: 650px;
    height: 300px;
}

.img-title {
    position: relative;
    text-align: center;

}

.contact-list {
    display: flex;
    float: right;
    justify-content:space-evenly;
    list-style: none;
}

.contact-list a:hover {
    color:rgb(221, 162, 24);
    font-weight: bolder;
}

.contact-list a:visited {
    color:rgb(221, 162, 24);
}
